body {
    width: 250px;
    height: 70px;
}

.title {
    height: 32px;
    position: fixed;
}

.buttons {
    top: 45px;
    position: fixed;
}

.broadcast {
    top: 15px;
    left: 223px;
    position: fixed;
    background-color: white;
}

.volume {
    top: 45px;
    left: 195px;
    position: fixed;
    background-color: white;
}

#logo {
    width: 90px;
    height: 100%;
}

#play {
    height: 32px;
    width: 32px;
    float: left;
    vertical-align: text-bottom;
    background-color: white;
}

#pause {
    height: 32px;
    width: 32px;
    float: left;
    vertical-align: text-bottom;
    background-color: white;
}

#stop {
    height: 32px;
    width: 32px;
    float: right;
    vertical-align: text-bottom;
    background-color: white;
}

#play:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s ease;
}

#pause:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s ease;
}

#stop:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s ease;
}

#circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: red;
    border-radius: 500px;
}

#myRange {
    width: 60px;
    height: 26px;
    -webkit-appearance: none;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 500px;
}

#myRange:hover {
    opacity: 1;
}

#myRange::-webkit-slider-thumb {
    width: 21px;
    height: 21px;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
    border-radius: 500px;
}