body {
    background-color: black;
    width: 250px;
    height: 70px;
}

.title {
    height: 32px;
}

.buttons {
    position: fixed;
    top: 45px;
}

.broadcast {
    float: right;
    background-color: white;
}

#logo {
    width: 90px;
    height: 100%;
}

#play {
    height: 32px;
    width: 32px;
    float: left;
    vertical-align: text-bottom;
    background-color: white;
}

#pause {
    height: 32px;
    width: 32px;
    float: left;
    vertical-align: text-bottom;
    background-color: white;
}

#stop {
    height: 32px;
    width: 32px;
    float: right;
    vertical-align: text-bottom;
    background-color: white;
}

#play:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s ease;
}

#pause:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s ease;
}

#stop:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s ease;
}

#circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: red;
    border-radius: 500px;
}